---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 37c96adc22fc747140e8ad47f4a5421ff905dceb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1438785237'
      Etag:
      - W/"920a965f05a161ac24408696e64b504f"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=587>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":8786033,"name":"homerkr","full_name":"brianyingling/homerkr","owner":{"login":"brianyingling","id":3287568,"avatar_url":"https://avatars.githubusercontent.com/u/3287568?v=3","gravatar_id":"","url":"https://api.github.com/users/brianyingling","html_url":"https://github.com/brianyingling","followers_url":"https://api.github.com/users/brianyingling/followers","following_url":"https://api.github.com/users/brianyingling/following{/other_user}","gists_url":"https://api.github.com/users/brianyingling/gists{/gist_id}","starred_url":"https://api.github.com/users/brianyingling/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brianyingling/subscriptions","organizations_url":"https://api.github.com/users/brianyingling/orgs","repos_url":"https://api.github.com/users/brianyingling/repos","events_url":"https://api.github.com/users/brianyingling/events{/privacy}","received_events_url":"https://api.github.com/users/brianyingling/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/brianyingling/homerkr","description":"Students
        - Assignments","fork":false,"url":"https://api.github.com/repos/brianyingling/homerkr","forks_url":"https://api.github.com/repos/brianyingling/homerkr/forks","keys_url":"https://api.github.com/repos/brianyingling/homerkr/keys{/key_id}","collaborators_url":"https://api.github.com/repos/brianyingling/homerkr/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/brianyingling/homerkr/teams","hooks_url":"https://api.github.com/repos/brianyingling/homerkr/hooks","issue_events_url":"https://api.github.com/repos/brianyingling/homerkr/issues/events{/number}","events_url":"https://api.github.com/repos/brianyingling/homerkr/events","assignees_url":"https://api.github.com/repos/brianyingling/homerkr/assignees{/user}","branches_url":"https://api.github.com/repos/brianyingling/homerkr/branches{/branch}","tags_url":"https://api.github.com/repos/brianyingling/homerkr/tags","blobs_url":"https://api.github.com/repos/brianyingling/homerkr/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/brianyingling/homerkr/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/brianyingling/homerkr/git/refs{/sha}","trees_url":"https://api.github.com/repos/brianyingling/homerkr/git/trees{/sha}","statuses_url":"https://api.github.com/repos/brianyingling/homerkr/statuses/{sha}","languages_url":"https://api.github.com/repos/brianyingling/homerkr/languages","stargazers_url":"https://api.github.com/repos/brianyingling/homerkr/stargazers","contributors_url":"https://api.github.com/repos/brianyingling/homerkr/contributors","subscribers_url":"https://api.github.com/repos/brianyingling/homerkr/subscribers","subscription_url":"https://api.github.com/repos/brianyingling/homerkr/subscription","commits_url":"https://api.github.com/repos/brianyingling/homerkr/commits{/sha}","git_commits_url":"https://api.github.com/repos/brianyingling/homerkr/git/commits{/sha}","comments_url":"https://api.github.com/repos/brianyingling/homerkr/comments{/number}","issue_comment_url":"https://api.github.com/repos/brianyingling/homerkr/issues/comments{/number}","contents_url":"https://api.github.com/repos/brianyingling/homerkr/contents/{+path}","compare_url":"https://api.github.com/repos/brianyingling/homerkr/compare/{base}...{head}","merges_url":"https://api.github.com/repos/brianyingling/homerkr/merges","archive_url":"https://api.github.com/repos/brianyingling/homerkr/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/brianyingling/homerkr/downloads","issues_url":"https://api.github.com/repos/brianyingling/homerkr/issues{/number}","pulls_url":"https://api.github.com/repos/brianyingling/homerkr/pulls{/number}","milestones_url":"https://api.github.com/repos/brianyingling/homerkr/milestones{/number}","notifications_url":"https://api.github.com/repos/brianyingling/homerkr/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/brianyingling/homerkr/labels{/name}","releases_url":"https://api.github.com/repos/brianyingling/homerkr/releases{/id}","created_at":"2013-03-14T21:41:28Z","updated_at":"2013-10-08T03:05:12Z","pushed_at":"2013-03-15T12:36:45Z","git_url":"git://github.com/brianyingling/homerkr.git","ssh_url":"git@github.com:brianyingling/homerkr.git","clone_url":"https://github.com/brianyingling/homerkr.git","svn_url":"https://github.com/brianyingling/homerkr","homepage":null,"size":180,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":9222839,"name":"interviewr-wdi","full_name":"bwreid/interviewr-wdi","owner":{"login":"bwreid","id":1316902,"avatar_url":"https://avatars.githubusercontent.com/u/1316902?v=3","gravatar_id":"","url":"https://api.github.com/users/bwreid","html_url":"https://github.com/bwreid","followers_url":"https://api.github.com/users/bwreid/followers","following_url":"https://api.github.com/users/bwreid/following{/other_user}","gists_url":"https://api.github.com/users/bwreid/gists{/gist_id}","starr[...]
